{
  'trailingComma': 'es5',
  'tabWidth': 2,
  'semi': false,
  'singleQuote': true,
  'quoteProps': 'as-needed',
  'bracketSpacing': true,
  'bracketSameLine': false,
  'arrowParens': 'always',
  'endOfLine': 'lf',
  'printWidth': 100,
  'htmlWhitespaceSensitivity': 'css',
  'proseWrap': 'always',
  'embeddedLanguageFormatting': 'off',
  'plugins': ['prettier-plugin-tailwindcss'],

  'overrides':
    [
      { 'files': '*.json', 'options': { 'tabWidth': 2 } },
      { 'files': '*.yml', 'options': { 'tabWidth': 2, 'proseWrap': 'preserve' } },
      { 'files': '*.md', 'options': { 'tabWidth': 4, 'printWidth': 80, 'proseWrap': 'always' } },
      {
        'files': ['*.ts', '*.tsx', '*.js'],
        'options': { 'semi': false, 'singleQuote': true, 'trailingComma': 'es5' },
      },
      {
        'files': '*.html',
        'options':
          {
            'tabWidth': 4,
            'singleQuote': false,
            'htmlWhitespaceSensitivity': 'ignore',
            'bracketSpacing': true,
            'endOfLine': 'lf',
            'printWidth': 120,
          },
      },
    ],
}
